{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{'The GYM Experts'}}</title>
    <link rel="stylesheet" href="{% static 'product.css' %}" >
</head>
<body>

    <!-- Navigation -->
    <header>
        <nav>
            <h1><b>Dream Body</b></h1>
            <ul><li><a href="#Home">Home</a></li>
                <li><a href="#Products">Products</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Home Section -->
    <section class="home">
        <h1><b>Best Quality Workouts </b></h1>
        <p>Explore Whats best For you</p>
        <br>
        <button>Explore</button>
        
        

    </section>
      <section href="#Home"  class="sa">
        
        <b> <h3>Equipment</h3> </b> 
        <br>
        <div id="card">
            <div class="new">
                <p>GYM EQUIPMENT</p>
                <p>Cradio EQUIPMENT</p>
                <p>HOME WORKOUT</p>
            </div>
            <br>
            <div class="all" src="{% static 'ChatGPT Image Apr 29, 2026, 11_57_47 AM.png' %}" alt="Image">
            <div class="card" >
                <p>All About The Gym</p>
                <p>All About The Gym</p>
                <p>All About The Gym</p>
            </div>

            <div class="card">
                <p>Creating a safe place for you to grow big </p>
            </div>

            <div class="card">
                <p>Providing you with the right information with the right equipment</p>
                
            </div>
            </div>
        </div>
        <img      >
        <img src="" alt="">

    </section>
  <section href="#Contact " class="se">
        <h2><b><u><h4>Our Products</h4></u></b></h2>
        

    </section>
  <section href="#contact" class="si">
        <h2><b>Bisep workouts</b></h2>

    </section>
    <section href="#contact" class="so">
        <h2><b>Chest Workots</b></h2>

    </section>



    <!-- Markets Section -->
    <section id="Products" class="section">
        <h2>Our Services</h2>
        <div class="card-container">
            <div class="card">
                <h3>Cradio PRODUCTS</h3>
                <p>Fresh fruits and vegetables daily.</p>
            </div>
            <div class="card">
                <h3>Big Boys Workouts</h3>
                <p>Best workouts professionals.</p>
            </div>
            <div class="card" id="row">
                <h3>Home Workout</h3>
                <p>Affordable Gym with your Best instructors.</p>
            </div>
        </div>
    </section>

    <!-- Products Section -->
    <section id="About" class="section">
        <h2>About Us</h2>
        <div class="card-container">
            <div class="card">
                <h3>ABS Workouts</h3>
                <p>Bisep and Tricep . <br>This is more about building your dream arm  with <br>every recipe you can get on this platform. </p>
            </div>

            <div class="card">
                <h3>The right meal.</h3>
                <p>Healthy mixed vegetables.This platform helps you have the correct <br> diet that can help you grow your dream body with <br> the right nutritions and vitamins helping you grow naturally</p>
            </div>

            <div class="card">
                <h3>Daily Workouts</h3>
                <p>This helps you stay active even when you are not feeling  <br>like working out .We have some small workouts  that can help you stay in shape even for a month </p>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <footer id="Contact">
        <p>Contact us: +263 71 070 9893</p>
        <p>Email us:gym6@gmail.com</p>
        <p>Located :Dzivaresekekwa,Gukurahundi drive Harare</p>
    </footer>


</body>
</html>